@font-face {
    font-family: 'lato';
    src: url(../Fonts/Lato-Regular.ttf);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
div.mytablecontainer{
    width: 80%;
    margin: auto;
}
div.secongdiv{
    width:95%;
    height:500px;
    margin: auto;
    background-color: aliceblue;

}
table.mytable{
    width: 100%;
}
div.firstdiv{
    padding: 10px;
}
 h1.bookstore{
    float: left;
    margin-top: 23px;
    font-family: 'lato';
    padding-left: 30px;
 }
 button{
    position: relative;
 }
button.addnew{
    float: right;
    margin-top:25px;
    background-color: #449d44;
    border: none;
    color: #fff;
    padding: 10px 40px;
    position: absolute;
    right: 200px;
    border-radius: 10px;
}
div.mytablecontainer > div:first-child{
    margin-top: 50px;
    width: 100%;
    height: 100px;
    color: #fff;
    background-color:#435D7D;
}
.fa-solid{
    padding-right: 8px;
}
tr.common{
    width: 100%;
    height: 50px;
    color: black;
    text-align: center;
    font-family:'lato';
    margin: 50px;
    font-size: 20px;
   padding: 20px;
}
table > thead{
    font-size: 30px;
   box-shadow: 5px 5px 5px #aadcef;
   border-radius: 10px;
   margin: auto;
}
table > .tdwidth > tr > td{
    width: 15px;
    height: 100px;
    padding: 20px;
}
.fa-pen{
    color: darkblue;

}
.fa-trash-can-arrow-up{
    margin-left: 10px;
    color: red;
}