* {
  scroll-behavior: smooth;
}

div {
  height: 100px;
  width: 100px;
  background-color: blue;
  margin: 20px;
  position: relative;
  animation-name: flex;
  animation-duration: 10s;
}

/* div {
  animation-name: myanimation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  ;
  animation-direction: alternate;
  animation-iteration-count: 5;
} */
/* div {
  transition: width 1s;
  cursor: pointer;
}

div:hover {
  background-color: red;
  box-shadow: 10px 10px 10px black;
  transform: skewX(30deg);
  transform: translateY(100px);
} */
/* #one {
  animation: myanimation 1s linear 1s 2 alternate;
} */
/* @keyframes myanimation {

  /* from {
    background-color: red;
  }

  to {
    background-color: pink;
  } */
/* 0% {
    background-color: red;
    transform: scale(10);
  }

  50% {
    border-radius: 100%;
    background-color: yellow;
  }

  100% {
    background-color: rgba(255, 0, 0, 0.5);
    transform: scale(10);
  }
} */
@keyframes flex {
  0% {
    background-color: blue;
    top: 0px;
    left: 0px;
  }

  25% {
    background-color: red;
    left: 200px;
    top: 0px;
  }

  50% {
    background-color: yellow;
    left: 200px;
    top: 200px;
  }

  75% {
    background-color: pink;
    top: 200px;
    left: 0px;
  }

  100% {
    background-color: blue;
    top: 0px;
    left: 0px;
  }
}