body {
  margin: 0;
  color: white;
  font-size: 1vmax;
  font-family: cursive;
  background-color: rgba(237, 148, 185, 0.85);
  /* grid-template-columns: 100px 100px 100px 100px; */
  /* grid-template-rows: 200px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 70px 600px 0px 200px;
  grid-auto-rows: 100px;
}

/* grid-auto-columns: columns; */
#header {
  background-color: rgba(236, 133, 175, 0.92);
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#header>a {
  color: white;
  text-decoration: none;
}

#main {
  border: 2px solid green;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  display: grid;
  /* place-items: center; */
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 11px;
}

.tiny {
  background-color: black;
  border: 2px solid white;
  width: 100px;
  height: 100px;
}

/* #Tinymain {
  grid-column-start: 1;
  grid-column-end: 3;
} */
#aside {
  grid-row-start: 2;
  grid-row-end: 4;
}

#footer {
  grid-column-start: 1;
  grid-column-end: 5;
}