<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>
         <%= title %>
     </title>
</head>
<body>
      <%- include('../partials/nav.ejs');  %>
      <h1>This is Express App </h1>
      <a href="/download">Downlod</a>
</body>
</html>