@font-face {
    font-family: 'roboto';
    src : url('./fonts/Roboto-Medium.ttf') format("truetype");
}
body{
    margin: 0px;
    font-family:'roboto';
}
header{
    width: 100%;
    height: 200px;
    background-color: purple;
}
header > h1{
    margin: 0px;
    color: #fff;
    padding-top: 85px;
    padding-left: 50px;
}
main{
    width: 100%;
}
main > aside:first-child{
  float: left;
  width: 25%;
  min-height: 1000px;
}
.left{
    list-style: none;
}
.left > li{
    width: 100%;
    min-height: 50px;
    background-color:skyblue;
    margin: 5px;
    text-align: center;
    line-height: 50px;
}
.left > li > a{
    text-decoration: none;
    color: black;
}
main > section{
 float: left;
 width: 50%;
 min-height: 1000px;
}

main > section > h2,p{
    padding-left: 20px;
}
main > aside:last-child{
    float: left;
    width: 24%;
    min-height: 1000px;
    background-color: skyblue;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.right{
    width: 100%;
    height: 100px;
    background-color: skyblue;
    margin: 0px;
}
footer{
    clear:both;
    width: 100%;
    height:200px;
    background-color:skyblue;
}

/* Small Device */
@media only screen and (min-width:0px) and (max-width: 599px){

    
    main > aside:first-child{
        width: 100%;
        min-height: 400px;
    }
    .left{
        padding: 0px;
    }
    main > section{
       width: 100%;
       min-height: 200px;
    }
    main > aside:last-child{
       width: 100%;
       min-height:400px;
    }
}

/* Medium Device */

@media only screen and (min-width:600px) and (max-width: 767px){


    main > aside:first-child{
        min-height: 300px; 
    }
    main > section{
       width: 74%;
       min-height: 300px ;
    }
    main > aside:last-child{
        width: 100%;
        min-height: 400px;
    }

}

/* Large Device */

@media only screen and (min-widht:768px){
   
}