*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
[data-ajay="1"]{
    width: 200px;
    height: 200px;
    border: 3px solid black;
    margin: 200px auto;
    transition: all 3s linear;
    animation-name: ajay;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: 100;
    animation-direction: alternate;
}
@keyframes ajay {
    from{
      background-color: red;
      border: 3px solid black;
      transform: rotate(0deg);
    }
    to{
        background-color: blue;
        border: 3px solid black;
        transform: rotate(360deg);
    
    }
}

/* [data-ajay="1"]:hover{
    background-color: green;
    transform: rotate(360deg);
} */