* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E5E5E5;
}

.container img {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}

.container .heading {
  color: white;
  position: absolute;
  top: 40px;
  left: 100px;
  line-height: 40px;
}

.hi {
  font-family: 'Roboto', sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 84px;
  letter-spacing: 0em;
  text-align: left;
}

.name {
  font-size: 30px;
}